body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

body {
    background-image: url("../images/space.jpg");
    background-color: #cccccc;
}

.card{
    border-radius: 15%;
    overflow: hidden;
}

input{
    color: #ffffff;
}